<div class="jumbotron">
	<h1 class="text-center">Welcome to Top of the Hour</h1>
	<p class="text-center">Your personal news scraper.</p>
	<p class="text-center">All the content, with no risk of getting sucked into any community</p>
	<p class="text-center"><a class="btn btn-danger btn-lg" href="/index">Click here to start scraping r/news</a></p>
</div>
